
.violet{
    background-color:#9E95C6 ;
}
.orange{
    background-color:#F7A78E ;
}
.turquoi{
    background-color:#A3D9C9 ;
}
.org{
    background-color:#FDCEA0 ;
}
.bleu{
    background-color:#84B9D7 ;
}
.jaune{
    background-color: #F1FAC1;
}
.kaki{
    background-color:#FEEDB9 ;
}
.vert{
    background-color:#CDEBC8 ;
}
.rosi{
    background-color:#C5678E ;
}
.rose{
   background-color:#E58A95 ;
}

.man{
    border-radius:25% ;
    width: 100px;
    height: 100px;
   
}

table{
    width: 100%;
    font-size: 20px;
}
*{
    margin: 0;
    padding: 0;
}

@media screen and (max-width:470px){

    table{
        width: 100%;
        font-size: 10px;
    }



}